[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
aria2jrpc = {editable = true, path = "."}

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"
isort = "*"

[requires]
python_version = "3.11"
